body, #switchContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  height: 100vh;
  width: 100vw;
}
/*body {
    background-image: radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);
    background-image: -o-radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);
    background-image: -ms-radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);
    background-image: -moz-radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);
    background-image: -webkit-radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);
}*/

#switch{
  height: 30px;
  width: 75px;
  background-color: #8f8f8f;
  border:5px solid #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#handle{
  height: 25px;
  width: 25px;
  /*background-color: green;*/
  border: 5px solid silver;
  border-radius: 30px;
  -webkit-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
}
/*#switchContainer{
  height: 30px;
  width: 75px;
  border: 8px solid black;
  border-radius: 30px;
}*/
